<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{static/css/bootstrap.css}">

</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-sm"  id="containerMessages" >
            <ul></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm"></div>
    </div>
</div>
<script>
    const evtSource = new EventSource('/api/open/kbkoval@gmail.com');

    const container = document.getElementById('containerMessages');
    const eventList = container.querySelector("ul");
    evtSource.onmessage = (event) => {
      const newElement = document.createElement("li");
      newElement.textContent = `Сообщение: ${event.data}`;
      console.debug(event.data);
      eventList.appendChild(newElement);
    };
</script>

</body>
</html>